<div class="alert alert-dark">
    <h5>Research Use Disclaimer</h5>
    <br />
    <ul>
        <li>
            This tool is provided as-is and may be updated or withdrawn without notice.
        </li>
        <li>
            This tool is intended for research and educational purposes only. Outputs are not intended for clinical, diagnostic, or therapeutic use.
        </li>
        <li>
            By hitting submit, you understand that you are uploading your dataset to a public server.
        </li>
    </ul>
</div>