<label
  for="multi-region"
  data-toggle="tooltip"
  title="Enter the region(s) you would like to focus on for the set-based test. If you have multiple regions (eg. across multiple chromosomes), enter them on separate lines. Your input format will be checked for correctness."
  class="font-weight-bold"
  data-original-title="Enter the region(s) you would like to focus on for the set-based test. If you have multiple regions (eg. across multiple chromosomes), enter them on separate lines. Your input format will be checked for correctness. "
>
  Coordinate Region(s)
</label>
<textarea
  class="form-control rounded-0"
  name="multi-region"
  id="multi-region"
  rows="5"
  data-toggle="tooltip"
  placeholder="1:205,500,000-206,000,000
2:130,000,000-130,100,000
..."
  title="Enter the region(s) you would like to focus on for the set-based test. If you have multiple regions (eg. across multiple chromosomes), enter them on separate lines. Your input format will be checked for correctness."
  data-original-title="Enter the region(s) you would like to focus on for the set-based test. If you have multiple regions (eg. across multiple chromosomes), enter them on separate lines. Your input format will be checked for correctness. "
></textarea>
