<label
  for="pval-col"
  data-html="true"
  data-toggle="tooltip"
  title=""
  class="font-weight-bold"
  data-original-title="Header text corresponding to the p-value column in your txt/tsv file (primary dataset)"
>
  P-value Column Name:
</label>
<input
  class="form-control"
  name="pval-col"
  id="pval-col"
  type="text"
  placeholder="P"
  data-toggle="tooltip"
  data-html="true"
  title=""
  data-original-title="Enter the header text corresponding to the p-value column in your txt/tsv file (primary dataset)"
/>
