<label
  for="ref-col"
  data-toggle="tooltip"
  title=""
  class="font-weight-bold"
  data-original-title="Header text corresponding to the reference allele column in your txt/tsv file (primary dataset)"
>
  Reference Allele Column Name:
</label>
<input
  class="form-control"
  name="ref-col"
  id="ref-col"
  type="text"
  value="REF"
  onfocus="this.value=''"
  data-toggle="tooltip"
  title=""
  data-original-title="Enter the header text corresponding to the reference allele column in your txt/tsv file (primary dataset)"
/>
