<label
  for="snp-col"
  data-html="true"
  data-toggle="tooltip"
  title=""
  class="font-weight-bold"
  data-original-title="<p>Header text corresponding to the variant name column in your txt/tsv file (primary dataset).</p><p>Accepted formats: rsID (eg. rs7512462), chrom_pos_ref_alt_build format (eg. 1_205899595_T_C_b37).</p>"
>
  Marker Column Name:
</label>
<input
  class="form-control"
  name="snp-col"
  id="snp-col"
  type="text"
  value="SNP"
  onfocus="this.value=''"
  data-toggle="tooltip"
  data-html="true"
  title=""
  data-original-title="<p>Enter the header text corresponding to the variant name column in your txt/tsv file (primary dataset).</p><p>Accepted formats: rsID (eg. rs7512462), chrom_pos_ref_alt_build format (eg. 1_205899595_T_C_b37).</p>"
/>
