# Load these as volumes, not at build time
flask/app/static/session_data
!flask/app/static/session_data/*example-output*
flask/app/static/upload
flask/app/static/archive
flask/data/1000Genomes*
flask/data/dbSNP*
flask/data/cache
