<label
  for="multi-region"
  data-toggle="tooltip"
  title="<p>Enter the region(s) you would like to focus on for the set-based test.</p><p>If you have multiple regions (eg. across multiple chromosomes), enter them on separate lines. Your input format will be checked for correctness.</p>"
  class="font-weight-bold"
  data-original-title="<p>Enter the region(s) you would like to focus on for the set-based test.</p><p>If you have multiple regions (eg. across multiple chromosomes), enter them on separate lines. Your input format will be checked for correctness.</p>"
>
  Coordinate Region(s)
</label>
<textarea
  class="form-control rounded-0"
  name="multi-region"
  id="multi-region"
  rows="5"
  data-toggle="tooltip"
  placeholder="1:205,500,000-206,000,000
2:130,000,000-130,100,000
..."
  title="<p>Enter the region(s) you would like to focus on for the set-based test.</p><p>If you have multiple regions (eg. across multiple chromosomes), enter them on separate lines. Your input format will be checked for correctness.</p>"
  data-original-title="<p>Enter the region(s) you would like to focus on for the set-based test.</p><p>If you have multiple regions (eg. across multiple chromosomes), enter them on separate lines. Your input format will be checked for correctness.</p>"
></textarea>
