<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-LCN3CN42ZL"
    ></script>
    <script src="{{ url_for('static', filename='js/ga/google_analytics.js') }}"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CFTR Graph</title>
  </head>

  <body>
    "{{ svg }}"
  </body>
</html>
