<div class="col-md-12 borderit clearfix">
  <a
    href="/previous_session"
    role="button"
    class="btn btn-primary btn-lg waves-effect waves-light"
    >Session ID</a
  ><a
    href="https://locusfocus.readthedocs.io"
    role="button"
    class="btn btn-primary btn-lg waves-effect waves-light"
    >Documentation</a
  ><a
    href="/session_id/0d074aff-76f4-42ab-87ef-5e2fa34b04e8"
    role="button"
    class="btn btn-primary btn-lg waves-effect waves-light"
    >Example Output</a
  ><a
    href="/setbasedtest"
    role="button"
    class="btn btn-primary btn-lg waves-effect waves-light"
    >First Stage Test Only</a
  ><a
    href="mailto:mackenzie.frew@sickkids.ca?subject=LocusFocus"
    role="button"
    class="btn btn-primary btn-lg waves-effect waves-light"
    >Contact Us</a
  ><a
    href="https://mailchi.mp/752ab1c4d516/locusfocus"
    role="button"
    class="btn btn-primary btn-lg waves-effect waves-light"
    >Subscribe</a
  ><button
    class="btn btn-primary btn-lg waves-effect waves-light"
    data-toggle="modal"
    data-target="#citeModal"
  >
    Citation
  </button>
  <div id="citeModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            LocusFocus: Web-based colocalization for the annotation and
            functional follow-up of GWAS
          </h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">
          <p>Authors:</p>
          <p>
            Naim Panjwani, Fan Wang, Scott Mastromatteo, Allen Bao, Cheng Wang,
            Gengming He, Jiafen Gong, Johanna M. Rommens, Lei Sun, Lisa J. Strug
          </p>
        </div>
        <div class="modal-footer">
          <p>
            <a href="https://doi.org/10.1371/journal.pcbi.1008336"
              >PLoS Comput Biol 2020 16(10): e1008336.</a
            >
          </p>
          <button
            type="button"
            class="btn btn-default waves-effect waves-light"
            data-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
