<p>
    <strong
      >Please note that we leave up to the user to determine the
      threshold of significance among the datasets that passed the
      first-stage significance test. For example, if a user selected 3
      tissues and 4 genes for testing, and 3 other secondary datasets
      (a total of 3 &times; 4 + 3 = 15 tests) and among these, 6
      datasets were tested for colocalization, then one would
      conservatively choose to consider a Bonferroni-corrected p-value
      threshold of 0.05 / 6 = 8.3 &times; 10<sup>-3</sup>. Thus,
      Simple Sum colocalization tests above this threshold would be
      considered as significant.</strong
    >
</p>