<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "lib/google-analytics.html" %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      LocusFocus: A Colocalization Tool to Prioritize Genes and Tissues from
      GWAS and eQTL Integration
    </title>
    <link rel="shortcut icon" href="#" />
    <meta
      property="og:title"
      content="LocusFocus: A Colocalization Tool to Prioritize Genes and Tissues from GWAS and eQTL Integration"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://locusfocus.research.sickkids.ca/static/images/eqtl_co-localization_heatmap_slc26a9.png"
    />
    <meta property="og:site_name" content="LocusFocus Web Application" />
    <meta
      property="og:description"
      content="LocusFocus is a web-based colocalization tool for the annotation and functional follow-up of GWAS.
  It applies the Simple Sum frequentist method to formally test colocalization between two SNP-based summary statistic datasets."
    />
    <meta
      property="og:url"
      content="https://locusfocus.research.sickkids.ca/"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    />
    <!-- JQuery-UI -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/jquery-ui.css') }}"
    />
    <!-- multiselect -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap-multiselect.css') }}"
    />
    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- Material Design Bootstrap -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.4/css/mdb.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    {% include "components/navigation-bar.html" %}
    <div class="container">
      <div class="inputs-and-upload-form">
        <!-- Set-based test form -->
        <form id="primary-form" method="POST" enctype="multipart/form-data">
          <div class="row">
            <h2>Set-based Test</h2>
          </div>
          <div class="row">
            <p>
              Upload a summary statistics dataset (eg. GWAS) to perform a simple
              set-based test. Results will include the P-value from the test.
            </p>
            <p>
              You may provide your own LD matrix, so long as it is the same
              length as your provided dataset. If no LD matrix is provided,
              LocusFocus will generate one for you given your dataset and a
              selected population from the 1000 Genomes datasets.
            </p>
          </div>
          <div class="row">
            <div class="col-md-12 borderit">
              <div class="col-md-4">
                <h5
                  data-toggle="tooltip"
                  data-html="true"
                  title="<p>Select the human coordinate system your files are stored in.</p>
              <p>
                <ul>
                  <li>hg19 is GRCh37</li>
                  <li>hg38 is GRCh38</li>
                </ul>
              </p>"
                >
                  Select coordinate system
                </h5>
                <select
                  id="coordinate"
                  name="coordinate"
                  onchange="coordinateChange(this.value)"
                >
                  <option
                    id="hg19"
                    value="hg19"
                    label="hg19"
                    selected="selected"
                  ></option>
                  <option id="hg38" value="hg38" label="hg38"></option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 borderit">
              <h5>Select files to upload</h5>
              <p>
                <input
                  type="file"
                  name="files[]"
                  multiple
                  required
                  data-toggle="tooltip"
                  id="file-upload"
                  title="2 files may be uploaded as described below (press and hold the Ctrl key to select multiple files)."
                />
              </p>
              <div class="alert alert-dismissible alert-info">
                <button type="button" class="close" data-dismiss="alert">
                  &times;
                </button>
                <strong>You must upload 1 file:</strong>
                <ul>
                  <li>
                    One of (.txt, .tsv) <b>(required)</b>: Summary statistics
                    file to perform set-based test (eg. GWAS). .txt files will
                    be interpreted the same as .tsv files.
                  </li>
                  <li>
                    .ld <b>(optional)</b>: PLINK-generated LD matrix with your
                    dataset(s). LD matrix length must be equal your dataset
                    length.
                  </li>
                </ul>
                <strong>File size limit is 500 MB total for 2 files</strong>
              </div>
              <div class="row">
                <div class="col-md-3" id="snp">
                  {% include "components/form/snp-col.html" %}
                </div>
                <div class="col-md-3" id="chrom">
                  {% include "components/form/chrom-col.html" %}
                </div>
                <div class="col-md-3" id="pos">
                  {% include "components/form/pos-col.html" %}
                </div>
                <div class="col-md-3">
                  {% include "components/form/pval-col.html" %}
                </div>
              </div>

              <hr />

              <div class="row">
                <div class="col-md-6">
                  {% include "components/form/multi-region.html" %}
                  <div class="input-error" id="multi-region-error"></div>
                </div>
                <div class="col-md-6">
                  <div class="alert alert-info">
                    <h5>Specify one or more regions in your dataset</h5>
                    <p>
                      Please specify your region(s) of interest here with the
                      following format:
                      <code>{CHROM}:{START}-{END}</code>
                      <strong
                        >Each region must be typed on a separate line as
                        shown.</strong
                      >
                    </p>
                    <p>
                      If no LD is provided, LocusFocus will generate an LD
                      matrix for each provided region, and regions within 2 Mbps
                      of each other will be combined.
                      <strong
                        >Regions may not be greater than 2,000,000 BPs in
                        size.</strong
                      >
                    </p>
                    <p>
                      If no regions are provided, LocusFocus will infer the
                      regions from the provided GWAS dataset (1 region per
                      chromosome in dataset).
                    </p>
                    <p>
                      <strong>
                        SNPs that are outside of these regions will be removed
                        before LD calculation and before the set-based test.
                      </strong>
                      <br />
                      More information:
                      <a
                        href="https://locusfocus.readthedocs.io"
                        target="_blank"
                        rel="noopener"
                        ><u>Set-based test documentation</u></a
                      >
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label
                    for="separate-test-checkbox"
                    class="font-weight-bold"
                    data-toggle="tooltip"
                    data-original-title="If checked, separate set-based tests will run for each region above. If no LD is provided, a separate LD will be generated for each test region."
                  >
                    Run separate tests for each region?
                  </label>
                  <input
                    type="checkbox"
                    id="separate-test-checkbox"
                    name="separate-test-checkbox"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 borderit">
              <div class="col-md-4">
                <h5
                  data-toggle="tooltip"
                  data-html="true"
                  title="<p>For the most accurate results, the LD (r<sup>2</sup>) matrix for your dataset is recommended to be uploaded as a .ld square matrix file.
            If the .ld file is unavailable, you may choose one of the publicly-available 1000 Genomes population datasets.</p>
          <p>
          <ul>
            <li>EUR: European</li>
            <li>NFE: Non-Finnish European</li>
            <li>AFR: African</li>
            <li>EAS: East Asian</li>
            <li>SAS: South Asian</li>
            <li>AMR: Ad Mixed American</li>
          </ul></p>"
                >
                  Select Populations for LD
                </h5>
              </div>
              <div class="col-md-6">
                <select id="LD-populations" name="LD-populations"></select>
              </div>
            </div>
          </div>
          <!-- row closing div -->

          <div class="row">
            <div class="col-md-12">
              <input
                id="submit-btn"
                type="submit"
                class="btn btn-default"
                value="Submit"
              />
            </div>
          </div>
          <!-- row closing div -->

          <div class="row">
            <div class="col-md-12">
              <h6>
                <b
                  ><i
                    >By hitting submit, you understand that you are uploading
                    your dataset to a public server</i
                  ></b
                >
              </h6>
            </div>
          </div>
          <!-- row closing div -->
        </form>

        <div class="row">
          <div class="col-md-12">
            <div id="error-messages" class="error-text"></div>
          </div>
        </div>
      </div>
      <!-- inputs-and-upload-form closing div -->
    </div>
    <!-- container closing div -->

    <!-- JS -->

    <!-- JQuery -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    ></script>
    <!-- JQuery-UI -->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/lib/jquery-ui.js') }}"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/inputChecker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/set_based_test.js') }}"></script>
    <!-- Bootstrap tooltips -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/lib/tooltip.min.js') }}"
    ></script>
    <!-- Bootstrap core JavaScript -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
    ></script>
    <!-- MDB core JavaScript -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.4/js/mdb.min.js"
    ></script>
    <!-- Multiselect -->
    <script src="{{ url_for('static', filename='js/lib/bootstrap-multiselect.js') }}"></script>
  </body>
</html>
